body {
    border: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #EEEEEE;
    color: #666666;
}
.menubar {
    background-color: #ff6622;
    color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 997;
}
.menubar .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 10px;
}
.menubar .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 26px;
}
.content {
    padding: 6px;
}
.addCourse {
    background-color: #ff6622;
    color: #ffffff;
    margin: 12px;
    border-radius: 12px;
    text-align: center;
    padding: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);    
}
[data-animation] {
  position: relative;
  overflow: hidden;
}
.addCourse .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
}
.addCourse .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    font-size: 22px;
}
.addedCourse {
    background-color: #ffffff;
    margin: 12px;
    border-radius: 12px;
    text-align: center;
    padding: 4px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  
}
.noCourseAdded {
    padding: 12px;
}
.noCourseAdded .icon {
    font-size: 60px;
    padding: 8px;
}
.noCourseAdded .title {
    font-size: 16px;
    font-style: italic;
    padding: 8px;
}

.dialogBoxBackground {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}
.dialogBox {
    position: relative;
    background-color: #ffffff;
    margin: 24px;
    border-radius: 12px;
    height: calc(100% - 48px);
    box-sizing: border-box;
    padding: 12px;
}
.dialogBox .title {
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
}
.dialogBoxContent {
    position: relative;
    padding: 6px 12px;
}
.dialogBoxContent .disabledContent {
    position: absolute;
    background-color: #ffffff;
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.dialogBox .disabledButton {
    position: absolute;
    background-color: #ffffff;
    border-radius: 12px;
    opacity: 0.6;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    z-index: 999;
}
.selectTitle {
    padding: 6px;
}
.customSelect {
    border-radius: 12px;
    background-color: #EEEEEE;
    padding: 6px 8px;
    position: relative;
}
.customSelect .activeOption {
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
    width: calc(100% - 45px);
    overflow: hidden;
}
.customSelect .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
    font-size: 18px;
}
.customSelect .selectOptions {
    background-color: #CCCCCC;
    position: absolute;
    left: 0;
    top: 45px;
    border-radius: 12px;
    padding: 4px;
    z-index: 1000;
    box-sizing: border-box;
    width: 100%;
}
.customSelect .selectOptions .option {
    padding: 16px;
    font-weight: bold;
}
.customSelect .selectOptions .option .semiTitle {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    padding: 2px 0px;
}
.hidden {
    display: none;
}
.courseOptionList {
    max-height: 300px;
    overflow-y: scroll;
}
.sectionOptionList {
    max-height: 240px;
    overflow-y: scroll;
}
.searchCourse {
    background-color: #EEEEEE;
    padding: 4px;
    border-radius: 8px;
    margin: 4px;
}
.searchCourse .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 6px 12px;
    font-size: 18px;
}
.searchCourse input {
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    margin: 6px 0;
    font-size: 15px;
    width: calc(100% - 65px);
    color: #666666;
}

.addCourseFinal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 36px);
    box-sizing: border-box;
    background-color: #ff6622;
    color: #ffffff;
    margin: 18px;
    border-radius: 8px;
    text-align: center;
    padding: 8px;
}
.disabled {
    opacity: 0.5;
}
.addCourseFinal .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
}
.addCourseFinal .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
    font-size: 22px;
}

.closeDialogBox {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    padding: 24px 30px;
}

.courseBox {
    background-color: #EEEEEE;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
}
.courseBox .header {
    background-color: #ff6622;
    color: #ffffff;
    padding: 8px;
}
.courseBox .header .title {
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
}
.courseBox .header .semiTitle {
    font-size: 14px;
    padding: 4px;
    font-style: italic;
}
.courseBox .detailBox {
    padding: 8px;
    font-size: 13px;
}
.courseBox .detailBox table {
    width: 100%;
}
.courseBox .detailBox table td {
    padding: 2px;
}
.courseBox .detailBox .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    font-size: 16px;
}
.courseBox .detailBox .title {
    max-width: 190px;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
}
.courseBox .removeCourse {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    padding: 6px 8px;
    background-color: #CCCCCC;
    border-radius: 6px;
    font-weight: bold;
}


.sideBarMenuBackground {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    transition: 0.4s;
    display: none;
}

.sideBarMenu {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    transition-delay: 0.1s;
    transition: 0.4s;
    z-index: 999;
}

.sideBarMenu .header {
    background-color: #ff6622;
    text-align: center;
    padding: 24px 12px;
    margin-bottom: 12px;
}

.sideBarMenu .header img {
    width: 60%;
    margin: 24px 12px;
    filter: drop-shadow(2px 2px 0 #ffffff)
        drop-shadow(-2px 2px 0 #ffffff)
        drop-shadow(2px -2px 0 #ffffff)
        drop-shadow(-2px -2px 0 #ffffff);
}

.sideBarMenu .menu {
    padding: 6px 12px;
}

.sideBarMenu .menu .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 12px;
    font-size: 22px;
}
.sideBarMenu .menu .title {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}

.welcomeBox {
    padding: 18px;
    font-size: 15px;
}
.welcomeBox .title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}
.welcomeBox .semiTitle {
    font-size: 18px;
}
.schoolList {
    padding: 2px;
}
.addedCourse .detail {
    padding: 14px;
    padding-bottom: 6px;
}
.addDepartment {
    background-color: #ff6622;
    color: #ffffff;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}
.addDepartment .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
}
.addDepartment .semiTitle {
    padding: 4px;
    font-size: 15px;
    font-style: italic;
}



.messageBoxBackground {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    transition: 0.4s;
    text-align: center;
}
.messageBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 6px;
    text-align: left;
    z-index: 1000;
}
.messageBox .title {
    font-size: 22px;
    font-weight: bold;
    padding: 12px 14px;
}
.messageBox .details {
    padding: 6px 14px;
}
.messageBox .buttonContainer {
    margin-top: 6px;
    padding: 4px;
}

.messageBox .buttonContainer .buttonOne {
    background-color: #ff6622;
    color: #ffffff;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 146px;
    margin: 3px;
    position: relative;
    overflow: hidden;
}

.messageBox .buttonContainer .buttonTwo {
    background-color: #cccccc;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 146px;
    margin: 3px;
}



.pdfContainer {
    width: 600px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 6px;
    color: #000000;
}
.routineTable {
    padding: 6px;
}
.routineTable table {
    width: 100%;
    font-size: 10px;
    border: 1px solid #000000;
    border-collapse: collapse;
}
.routineTable td, .routineTable th {
    border: 1px solid #000000;  
    text-align: center;
    padding: 6px;
}



.ripple {
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: rippleEffect 0.5s ease-in-out;
}
.rippleb {
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    animation: rippleEffect 0.5s ease-in-out;
}

@keyframes rippleEffect {
    0% {
        transform: scale(1);
    } 
    100% {
        opacity: 0;
        transform: scale(var(--scale));
    }
}

.noConection {
    text-align: center;
    margin: 120px 24px;
}
.noConection .icon {
    font-size: 100px;
    margin: 12px;
}
.noConection .title {
    font-size: 20px;
    font-weight: bold;
    margin: 12px;
}
.noConection .semiTitle {
    margin: 12px auto;
    width: 200px;
}